<!DOCTYPE html>
<html>
<head>
  <title>Gatekeeper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
    <div class="alert alert-info">
      <%= fa_icon 'info-circle', text: flash[:notice] %>
    </div>
  <% end %>
  <%- if flash[:alert] %>
    <div class="alert alert-danger">
      <%= fa_icon 'warning', text: flash[:alert] %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
